.homeMain {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 300px;
  .artImgBox {
    height: 170px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}
