.layoutMain {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
  .header {
    position: relative;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 40px;
  }
  .bannerBox {
    position: relative;
    height: 650px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .navBox {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
      z-index: 3;
      background: linear-gradient(rgba(255, 255, 255, 0.3), transparent);
      ul {
        margin-top: 0;
        margin: 0 auto;
        width: 1110px;
        position: relative;
        text-align: left;
        li {
          font-size: 16px;
          border: 0;
          font-family: "blod";
          display: inline-block;
          height: 58px;
          line-height: 58px;
          position: relative;
          text-align: left;
          margin: 0 20px 0 0;
          color: #fff;
          cursor: pointer;
        }
      }
    }
    .bannerBg {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #cfcfcf;
      background-image: url("../assets/images/bg.jpg");
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: 0;
      .slogan {
        color: #ff9800;
        font-size: 60px;
        letter-spacing: 20px;
        font-family: "blod";
      }
      .mineBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .avatorBox {
          height: 100px;
          width: 100px;
          border-radius: 50px;
          margin: 20px 0;
          overflow: hidden;
          background-color: #cfcfcf;
        }
        .text {
          color: #fff;
          letter-spacing: 10px;
          font-size: 20px;
        }
      }
    }
  }
  .footer {
    height: 130px;
    background-color: #232323;
    color: #888;
    margin-top: 380px;
  }
}

.adminContent {
  height: 100vh;
  padding: 20px;
  overflow: hidden;
  background-color: #fff;
  .adminContentBox {
    padding: 20px;
    box-shadow: 0 1px 3px rgba(18, 18, 18, 0.4);
    height: calc(100vh - 40px);
    overflow-y: auto;
  }
}
